# Configuration file

general {
    I:EntityBasicVampire=1

    # Set to 0 if you don't want that entclass to shine light when on fire
    I:EntityBat=1
    I:EntityCreeper=1
    I:EntityCrossbowArrow=1
    I:EntityCustomNpc=1
    I:EntityDragonFireCharge=1
    I:EntityEnderman=1
    I:EntityHamster=1
    I:EntityHenLeghorn=1
    I:EntityHippogryph=1
    I:EntityHunter=1
    I:EntityLargeFireball=1
    I:EntityLlama=1
    I:EntityRabbitDoeCottontail=1
    I:EntitySkeleton=1
    I:EntitySlime=1
    I:EntitySpider=1
    I:EntityStray=1
    I:EntityTippedArrow=1
    I:EntityWolf=1
    I:EntityZombie=1
    I:EntityZombieVillager=1
    I:"update Interval"=1000
}


